<form action='/links' method='post'>
  Title: <input type='text' name='title'> <br />
  URL: <input type='text' name='url'> <br />
  Tags:<input type="text" name='tags'><br />
  <input type='submit' value='Submit'>
</form>
